<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if request.method == "POST" %}
        <title>Ticket</title>
    {% else %}
        <title>New Ticket</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/css/createTicket.css">
</head>
<body>
<!-- Navbar -->
<div class="w3-bar w3-border w3-white">
  <a href="{% url 'triage' %}" class="w3-bar-item w3-button" style="color: #00467F">Home</a>
  <a href="{% url 'create_ticket' %}" class="w3-bar-item w3-button" style="color: #00467F">Create Ticket</a>
  <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-right w3-text-white" style="background-color: #00467F">Logout</a>
</div>
<form method="post" action="http://127.0.0.1:8000/triage/create/">
    {% csrf_token %}
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">

        <h3 class="w3-bar-item">New Ticket</h3>

        <label class="w3-text-black"><b>Requester</b></label>
        <label for="requester">
            <input class="w3-input w3-border" name="requester" type="text">
        </label>

        <label>Choose priority:
            <select class="w3-select" name="priority">
                <option value="" disabled selected>Priority</option>
                <option value="L">Low</option>
                <option value="M">Medium</option>
                <option value="H">High</option>
            </select>
        </label>

        <label>Choose building:
            <select class="w3-select" name="building">
                  <option value="" disabled selected>Location</option>
                  <option value="Dunham Hall">Dunham Hall</option>
                  <option value="Stephens Hall">Stephens Hall</option>
                  <option value="John C. Dunham Hall">John C. Dunham Hall</option>
            </select>
        </label>
    </div>
    <!-- Page Content -->
    <div style="margin-left:25%">
        <div class="w3-container w3-text-white" style="background-color: #00467F">
            <h1>Create New Ticket</h1>
        </div>
        <div class="container">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Enter subject...">
            <label for="note">Note</label>
            <textarea id="note" name="note" placeholder="Write note..." style="height:100px"></textarea>
            <label for="option">
                <select class="w3-select" name="option">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="S">Solved</option>
                    <option value="P">Pending</option>
                    <option value="U">Unsolved</option>
                    <option value="O">Open</option>
                </select>
            </label>
            <input type="submit" value="Update" class="w3-button w3-white w3-border w3-border-blue w3-round">
        </div>
    </div>
</form>

<script>
    function myDropFunc() {
      var x = document.getElementById("demoDrop");

      if (x.className.indexOf("w3-show") === -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
      } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-green", "");
      }
    }
    function myFunction() {
      var x = document.getElementById("Demo");

      if (x.className.indexOf("w3-show") === -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
</script>
</body>
</html>