<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static from static %}
    <link rel="stylesheet" href="{% static "css/createTicket.css" %}">
</head>
<body>
<!-- Navbar -->
<div class="w3-bar w3-border w3-white">
  <a href="{% url 'triage' %}" class="w3-bar-item w3-button" style="color: #00467F">Home</a>
  <a href="{% url 'create_ticket' %}" class="w3-bar-item w3-button" style="color: #00467F">Create Ticket</a>
  <a href="{% url 'login' %}" class="w3-bar-item w3-text-white w3-button w3-right" style="background-color: #00467F">Logout</a>
</div>
    <!-- Sidebar -->
<form method="POST" action="http://127.0.0.1:8000/triage/viewTicket/{{ ticket.id }}/">
    {% csrf_token %}
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Ticket ID: {{ ticket.id }}</h3>
        <label class="w3-text-black"><b>Requester</b></label>
        <label>
            <input class="w3-input w3-border" name="requester" type="text" value="{{ ticket.username }}">
        </label>

        <label for="priority"><b>Choose priority:</b>
        <select class="w3-select" name="priority">
            <option value="" disabled selected>Priority</option>
            <option value="L" {% if ticket.priority == "L" %}selected{% endif %}>Low</option>
            <option value="M" {% if ticket.priority == "M" %}selected{% endif %}>Medium</option>
            <option value="H" {% if ticket.priority == "H" %}selected{% endif %}>High</option>
        </select>
        </label>

        <label for="building"><b>Choose building:</b>
        <select class="w3-select" name="building">
              <option value="" disabled selected>Location</option>
              <option value="Dunham Hall" {% if ticket.buildingName == "Dunham Hall" %}selected{% endif %}>
                  Dunham Hall
              </option>
              <option value="Stephens Hall" {% if ticket.buildingName == "Stephens Hall" %}selected{% endif %}>
                  Stephens Hall
              </option>
              <option value="John C. Dunham Hall" {% if ticket.buildingName == "John C. Dunham Hall" %}selected{% endif %}>
                  John C. Dunham Hall
              </option>
        </select>
        </label>

        <label for="room" class="w3-text-black"><b>Room</b></label>
            <select id="room" name="room" required>
                <option value="" disabled selected>Select Room Number</option>
                <option value="101" {% if ticket.room == "101" %}selected{% endif %}>101</option>
                <option value="102" {% if ticket.room == "102" %}selected{% endif %}>102</option>
                <option value="103" {% if ticket.room == "103" %}selected{% endif %}>103</option>
                <option value="104" {% if ticket.room == "104" %}selected{% endif %}>104</option>
                <option value="105" {% if ticket.room == "105" %}selected{% endif %}>105</option>
                <option value="106" {% if ticket.room == "106" %}selected{% endif %}>106</option>
                <option value="107" {% if ticket.room == "107" %}selected{% endif %}>107</option>
            </select>

        <label for="issue" class="w3-text-black"><b>Issue</b></label>
        <select id="issue" name="issue" required>
            <option value="" disabled selected>Select Issue</option>
            <option value="Floor Drain" {% if ticket.issue == "Floor Drain" %}selected{% endif %}>Floor Drain</option>
            <option value="Water Fountain" {% if ticket.issue == "Water Fountain" %}selected{% endif %}>Water Fountain Not Working</option>
            <option value="Water leak" {% if ticket.issue == "Water leak" %}selected{% endif %}>Water leak From Pipe</option>
            <option value="Sink" {% if ticket.issue == "Sink" %}selected{% endif %}>Sink Over Flowing</option>
            <option value="overflow" {% if ticket.issue == "overflow" %}selected{% endif %}>Toilet Or Urinal Over Flowing</option>
            <option value="dirty water" {% if ticket.issue == "dirty water" %}selected{% endif %}>Dirty Water Coming Out</option>
            <option value="other" {% if ticket.issue == "Other" %}selected{% endif %}>Other, Please Add Descriptive Issue In Comments Section</option>
        </select>
    </div>
    <!-- Page Content -->
    <div style="margin-left:25%">
        <div class="w3-container w3-text-white" style="background-color: #00467F">
            <h1>Ticket Details</h1>
        </div>
        <div class="container">

            <label for="subject"><b>Subject</b></label>
                <input type="text" id="subject" name="subject" value="{{ ticket.subject }}">

                <div class="w3-bar w3-text-white" style="background-color: #00467F">
                  <span class="w3-bar-item w3-button tablink w3-grey" onclick="openCity(event, 'RequesterNote')">Requester Note</span>
                  <span class="w3-bar-item w3-button tablink" onclick="openCity(event, 'InternalNote')">Internal Notes</span>
                  <span class="w3-bar-item w3-button tablink" onclick="openCity(event, 'Image')">Image</span>
                </div>

                <div id="RequesterNote" class="w3-container tab">
                    <div class="w3-panel w3-border" style="background-color: white">
                        <p>{{ ticket.description }}</p>
                    </div>
                </div>
                <div id="InternalNote" class="w3-container tab" style="display:none">
                    <label for="InternalNote"></label>
                    <textarea id="InternalNote" name="InternalNote" placeholder="Write internal note..." style="height:100px"></textarea>
                </div>
                <div id="Image" class="w3-container tab" style="display:none">
                    {% if ticket.image %}
                        <img src="{{ ticket.image.url }}" alt="Image" height="350px" width="350px">
                    {% else %}
                        <label for="image">Choose Image (Optional):</label>
                        <input type="file" id="image" name="image" accept="image/png, image/jpeg">
                    {% endif %}
                </div>

                <label>
                    <select class="w3-select" name="option">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="S" {% if ticket.status == "S" %}selected{% endif %}>Solved</option>
                        <option value="P" {% if ticket.status == "P" %}selected{% endif %}>Pending</option>
                        <option value="U" {% if ticket.status == "U" %}selected{% endif %}>Unsolved</option>
                        <option value="O" {% if ticket.status == "O" %}selected{% endif %}>Open</option>
                    </select>
                </label>
                <input type="submit" value="Update" class="w3-button w3-white w3-border w3-border-blue w3-round">
        </div>
    </div>
</form>
<script>
    function myDropFunc() {
      var x = document.getElementById("demoDrop");

      if (x.className.indexOf("w3-show") === -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
      } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-green", "");
      }
    }

    function myFunction() {
      var x = document.getElementById("Demo");

      if (x.className.indexOf("w3-show") === -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    function openCity(evt, name) {
      var i, x, tablinks;
      x = document.getElementsByClassName("tab");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
      }
      document.getElementById(name).style.display = "block";
      evt.currentTarget.className += " w3-grey";
    }
</script>
</body>
</html>