<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/form.css">
</head>
<script>
    const form = document.querySelector('form');
    const result = document.getElementById('result');

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const location = document.getElementById('location').value;
        const room = document.getElementById('room').value;
        const issue = document.getElementById('issue').value;
        const comments = document.getElementById('comments').value;
        const message = `You have reported a problem in ${location} room ${room}: prxomity${proximity} issue:${issue}. Your comments: ${comments}`;
        result.textContent = message;
    });
</script>
<body>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'issues' %}">Report</a></li>
        <li><a href="{% url 'ticket' %}">Tickets</a></li>
        <li><a href="https://aurora.edu/">AU Home Page</a></li>
        <li style="float:right"><a class="active" href="{%  url 'login' %}">Log Out</a></li>
    </ul>
</nav>
<h1 style="text-align: center">Reporting A Cooling And Heating Issue On Campus</h1>

<div class="container">
    <form action="/action_page.php">

        <label for="location">Location</label>
        <select id="location" name="location">
            <option value="" selected="selected">Select Building</option>
            <option value="Dunham">Dunham</option>
            <option value="Stephens">Stephens</option>
            <option value="Eckhart Hall">Eckhart Hall</option>
        </select>

        <label for="room">Room</label>
        <select id="room" name="room">
            <option value="" selected="selected">Select Room</option>
            <option value="101">101</option>
            <option value="102">102</option>
            <option value="103">103</option>
            <option value="104">104</option>
            <option value="105">105</option>
            <option value="106">106</option>
            <option value="107">107</option>
        </select><br><br>

        <label for="proximity">In Or Near Room Selected</label>
        <select id="proximity" name="proximity">
            <option value="" selected="selected">Select Proximity</option>
            <option value="1">In room</option>
            <option value="2">Near room</option>
        </select>

        <label for="issue">Issue</label>
        <select id="issue" name="issue">
            <option value="">Select Issue</option>
            <option value="Cooling">Class will not cool down, issue with AC</option>
            <option value="Heating">Class will not heat up, issue with heater</option>
            <option value="Loud">Ventilation in room is making an odd noise</option>
            <option value="Odor">Ventilation is bringing in odd or unpleasant smell</option>
            <optino value="leaking">Ventilation is dripping</optino>
            <option value="Power">Room gradually gets hotter or colder</option>
            <option Value="Other">Other, Please add description in comments section</option>
        </select><br><br>
        <p>Upload Image</p>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename" accept="image/jpeg" maxlength="1784320">
        </form>
        <label for="comments">Comments</label><br>
        <textarea id="comments" name="comments" rows="5" cols="50" placeholder="250 Max Characters" maxlength="250"></textarea><br><br>

        <input type="submit" value="Submit" onclick="">
    </form>
</div>

</body>
</html>