<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/form.css">
</head>
<script>
    const form = document.querySelector('form');
    const result = document.getElementById('result');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const location = document.getElementById('location').value;
        const room = document.getElementById('room').value;
        const issue = document.getElementById('issue').value;
        const comments = document.getElementById('comments').value;
        const message = `You have reported a problem in ${location} room ${room}: prxomity${proximity} issue:${issue}. Your comments: ${comments}`;
        result.textContent = message;
    });
</script>
<body>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'issues' %}">Report</a></li>
        <li><a href="{% url 'ticket_view' %}">Tickets</a></li>
        <li><a href="https://aurora.edu/">AU Home Page</a></li>
        <li style="float:right"><a class="active" href="{%  url 'login' %}">Log Out</a></li>
    </ul>
</nav>
<h1 style="text-align: center">Reporting Plumbing Issue</h1>

<div class="container">
    <form method="post" action="http://127.0.0.1:8000/system/create/" enctype="multipart/form-data">
        {%  csrf_token %}

        <label for ="requester">Username</label>
        <input type="text" name="requester" required>

        <label for="building">Building</label>
        <select id="building" name="building">
            <option value="" selected="selected">Select Building</option>
            <option value="Dunham Hall">Dunham Hall</option>
            <option value="Stephens Hall">Stephens Hall</option>
            <option value="John C. Dunham Hall">John C. Dunham Hall</option>
        </select><br><br>

        <label for="room">Room</label>
        <select id="room" name="room">
            <option value="" selected="selected">Select Room</option>
            <option value="101">101</option>
            <option value="102">102</option>
            <option value="103">103</option>
            <option value="104">104</option>
            <option value="105">105</option>
            <option value="106">106</option>
            <option value="107">107</option>
        </select><br><br>

        <label for="subject">Subject</label>
        <select id="subject" name="subject">
            <option value="Plumbing">Plumbing</option>
        </select><br><br>

        <label for="issue">Issue</label>
        <select id="issue" name="issue">
            <option value="">Select Issue</option>
            <option value="Floor Drain">Floor Drain</option>
            <option value="Water Fountain">Water Fountain Not Working</option>
            <option value="Water leak">Water leak From Pipe</option>
            <option value="Sink">Sink Over Flowing</option>
            <option value="overflow">Toilet Or Urinal Over Flowing</option>
            <option value="dirty water">Dirty Water Coming Out</option>
            <option value="other">Other, Please Add Descriptive Issue In Comments Section</option>
        </select><br><br>

        <p>Upload Image</p>
        <input type="file" id="image" name="image" accept="image/jpeg, image/png" maxlength="178432000">


        <label for="note">Comments</label><br>
        <textarea id="note" name="note" placeholder="250 characters" rows="5" cols="50" maxlength="250"></textarea><br><br>

        <input type="submit" value="submit">
    </form>
</div>

</body>
</html>