<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/form.css">
</head>
<script>
    const form = document.querySelector('form');
    const result = document.getElementById('result');

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        const location = document.getElementById('location').value;
        const room = document.getElementById('room').value;
        const issue = document.getElementById('issue').value;
        const comments = document.getElementById('comments').value;
        const message = `You have reported a problem in ${location} room ${room}: prxomity${proximity} issue:${issue}. Your comments: ${comments}`;
        result.textContent = message;
    });
</script>
<body>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'issues' %}">Report</a></li>
        <li><a href="tickt.html">Tickets</a></li>
        <li><a href="https://aurora.edu/">AU Home Page</a></li>
        <li style="float:right"><a class="active" href="#about">Log Out</a></li>
    </ul>
</nav>
<h1 style="text-align: center">Reporting Restroom Supplies Shortage On Campus</h1>

<div class="container">
    <form action="/action_page.php">

        <label for="location">Location:</label>
        <select id="location" name="location">
            <option value="" selected="selected">Select Building</option>
            <option value="Dunham">Dunham</option>
            <option value="Stephens">Stephens</option>
            <option value="Building">Building</option>
        </select>

        <label for="bathroom">Room:</label>
        <select id="bathroom" name="bathroom">
            <option value="" selected="selected">Select Bathroom</option>
            <option value="101">101</option>
            <option value="102">102</option>
            <option value="204">104</option>
            <option value="206">106</option>
        </select><br><br>

        <label for="issue">Issue:</label>
        <select id="issue" name="issue">
            <option value="">Select Issue</option>
            <option value="tp">No Toilet Paper In Stall</option>
            <option value="pt">No Paper Towels In Despenser</option>
            <option value="Soap">No Soap In Despensers</option>
            <option value="Other">Other, Please Add Description In Comments Section</option>
        </select><br><br>
        <p>Upload Image</p>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename" accept="image/jpeg" maxlength="1784320">
        </form>
        <label for="comments">Comments:</label><br>
        <textarea id="comments" name="comments" rows="5" cols="50" placeholder="250 Max Characters" maxlength="250"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>

</div>

</body>
</html>