<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../static/css/tick.css">
</head>
<body>
<nav>
  <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'issues' %}">Report</a></li>
    <li><a href="{% url 'ticket_view' %}">Tickets</a></li>
    <li><a href="https://aurora.edu/">AU Home Page</a></li>
    <li style="float:right"><a class="active" href="{%  url 'login' %}">Log Out</a></li>
  </ul>
</nav>
<h1 style="text-align: center">Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Location</th>
      <th>Room</th>
      <th>Subject</th>
      <th>Issue</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
    <tr>
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.buildingName }}</td>
      <td>{{ ticket.room }}</td>
      <td>{{ ticket.subject }}</td>
      <td>{{ ticket.issue }}</td>
      <td>{{ ticket.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


</body>
</html>