<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Triage Page {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>

</head>
<body>
    <!-- Navbar -->
    <div class="w3-bar w3-border w3-light-white">
        <a href="{% url 'triage' %}" class="w3-bar-item w3-button" style="color: #00467F">Home</a>
        <a href="{% url 'create_ticket' %}" class="w3-bar-item w3-button" style="color: #00467F">Create Ticket</a>
        <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-right w3-text-white" style="background-color: #00467F">Logout</a>
    </div>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Views</h3>
        <a href="{% url 'triage' %}" class="w3-bar-item w3-button"{% block style %} style="background-color: azure" {% endblock %} > Triage</a>
        <a href="{% url 'pending' %}" class="w3-bar-item w3-button" {% block style2 %}  {% endblock %}>Pending Tickets</a>
        <a href="{% url 'unsolved' %}" class="w3-bar-item w3-button" {% block style3 %}  {% endblock %}>Unsolved Tickets</a>
        <a href="{% url 'solved' %}" class="w3-bar-item w3-button" {% block style4 %}  {% endblock %}>Solved Tickets</a>
        <a href="{% url 'open_ticket' %}" class="w3-bar-item w3-button" {% block style5 %}  {% endblock %}>Open Tickets</a>
    </div>
    <!-- Page Content -->
    <div style="margin-left:25%">
        <div class="w3-container " style="background-color: #00467F">
            {% block header %} <h1 style="color: white">Triage</h1> {% endblock %}
        </div>
        <div class="container">
        <h2>Tickets</h2>
            <table class="w3-table w3-bordered w3-hoverable" style="width: 100%" id="myTable">
            <thead>
                <tr>
                    <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(1)')" style="cursor:pointer">Ticket ID</th>
                    <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(2)')" style="cursor:pointer">Subject</th>
                    <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(3)')" style="cursor:pointer">Requester</th>
                    <th onclick="w3.sortHTML('#myTable', '.item', 'td:nth-child(4)')" style="cursor:pointer">Requested</th>
                </tr>
            </thead>
            <form method="GET" action="http://127.0.0.1:8000/viewTicket/">
                {% csrf_token %}
                {% block rows %}
                    <tbody>
                        <tr class="item" onclick="window.location='viewTicket/'" >
                            <td>6666666</td>
                            <td>Leaking faucet</td>
                            <td>John Smith</td>
                            <td>10 minutes ago</td>
                        </tr>
                        <tr class="item" onclick="window.location='viewTicket/'">
                            <td>99999999</td>
                            <td>Paper towel stop working</td>
                            <td>Rose Hernandez</td>
                            <td>1 hour ago</td>
                        </tr>

                    </tbody>
                {% endblock %}
            </form>
            </table>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>