{% extends "triage/master.html" %}

{% block title %}
    Open Tickets
{% endblock %}

{% block header %} <h1 style="color: white">Open</h1> {% endblock %}

{% block rows %}
    {% for ticket in tickets %}
        <tr class="item" onclick="window.location='/triage/viewTicket/{{ ticket.id }}'">
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.username }}</td>
            <td>{{ ticket.dateCreated }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block style %} {% endblock %}
{% block style2 %} {% endblock %}
{% block style3 %} {% endblock %}
{% block style4 %} {% endblock %}
{% block style5 %} style="background-color: azure" {% endblock %}