{% extends "triage/master.html" %}

{% block title %}
    Solved Tickets
{% endblock %}

{% block header %} <h1 style="color: white"> Solved </h1> {% endblock %}

{% block rows %}
    {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.username }}</td>
            <td>{{ ticket.dateCreated }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block style %} {% endblock %}
{% block style2 %} {% endblock %}
{% block style3 %} {% endblock %}
{% block style4 %} style="background-color: azure" {% endblock %}

